// ---------- BODY: ADMIN ---------- //
.home-headline {
  font-family: 'Quicksand', sans-serif;
}

// Home: Login Button (Container)
.login-button-container {
  // background: aquamarine;
  padding: 0 1em;

  // Home: Login Button
  .login-button {
    width: 100%;
    background-color: #4d13af;
    color: #FFFFFF;
    border: none;
    font-size: 1em;
    /* width: 100% */
    padding: 15px 45%;
    /* width: 80px; */

    // Home: Login Button (Hover)
    &:hover {
      background-color: #6118dd;
    }
  }

  // Home: Forgotten Password
  // .forgotten-password a {
  //   text-decoration: none;
  //   color: black;
  // }
}