@import './Colors';

body{
  background: $background-color;
}

// .App {
//   text-align: center;
// }

@mixin buttonSolid(){
    color:$light-color;
    background: $main-color;
    margin: 5px;
    text-decoration: none;
    padding: {
      left: 20px;
      right: 20px;
    }
}

@mixin buttonHollow(){
  @include buttonSolid();
    background: $light-color;
    color : $main-color;    
    border:1px solid $main-color;
}

.navigation-links{
  display: inline-block;
  padding: 10px;
  
  a{
    @include buttonHollow();
  }
}

.recipes{
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  
  .recipe{
    @include buttonHollow();
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    margin: {
      bottom:20px;
    }
    .ingredients{
      display: inline-block;
      margin: 0 auto;
      text-align:left;
      padding: 5px;
      // border: 1px lighten($main-color,20%) solid;
      width: auto;
      ul{

        padding:0;
        list-style-position: inside;
        li{
          width:auto;
        }
      }
    }
  }
}