$main-color: rgb(16, 96, 175);
$light-color: darken( #ffffff, 5%);
$background-color:darken( #ffffff, 2%);

// Ask Izzy Brand Colours
$page-container-background: #C1C0BA;
$page-navigation-footer: #363e43;