// ---------- ASK IZZY PLUS BRAND COLOURS ---------- //
$page-container-background: #C1C0BA;
$page-navigation-footer: #363e43;

// ---------- MAIN FORM STYLING ---------- //
$main-color: #1B2B38;
// $form-label:#4D13AF;
$form-label-read: #1B2B38;
$form-label-edit: #1B2B38;
$form-edit-outline: #6EC9CC;
$form-input-placeholder-read: #1B2B38;
$form-input-placeholder-edit: #1B2B38;
$form-field-highlight: rgb(110,201,204);

// ---------- MAIN BUTTON STYLING ---------- //
$button-background: #5B98BB;
$button-hover: #74A8C6;
$button-text: #ffffff;
