// $hero-subheadline-font: 'Comfortaa', sans-serif;
// $main-body-font: 'Comfortaa', sans-serif;

// $hero-subheadline-font: 'Mallanna', sans-serif;
// $main-body-font: 'Mallanna', sans-serif;

$hero-subheadline-font: 'Quicksand', sans-serif;
$main-body-font: 'Quicksand', sans-serif;
$button-font: 'Quicksand', sans-serif;