@import "./Colors";

@mixin buttonSolid() {
  color: $light-color;
  background: $main-color;
  margin: 5px;
  text-decoration: none;
  padding: {
    left: 20px;
    right: 20px;
  }
}

@mixin buttonHollow() {
  @include buttonSolid();
  background: $light-color;
  color: $main-color;
  border: 1px solid $main-color;
}

.readMode {
  /*disable input fields*/
  pointer-events: none;
  color: ligthen(black);
  font-weight: bold;
  input {
    padding-bottom: 0.5rem;
    border: 0;
    /* Most modern browsers support this now. */
    &::placeholder {
      font-size: 1rem;
      color: black;
      padding-left: 10px;
    }
  }
  select {
    font-size: 0.9rem;
    border: 0;
    padding-bottom: 0.5rem;
    background-color: transparent;

    /*Removing the drop down arrow*/
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    /* For IE10 */
    &::-ms-expand {
      display: none;
    }
  }

  button {
    visibility: hidden;
    margin: 0.5rem;
  }
}

.editMode {
  color: ligthen(black);
  font-weight: bold;
  input {
    font-size: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;

    /* Most modern browsers support this now. */
    &::placeholder {
      font-size: 1rem;
      color: black;
      padding-left: 10px;
    }
  }
  select {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
  }
  button {
    margin: 0.5rem;
    @include buttonHollow();
  }
}

.editButton{
  @include buttonHollow();
}

.cancelButton{
  @include buttonHollow();
  $cancelColor : red;
  color: $cancelColor;
  border: 1px solid $cancelColor;
  &:focus {outline:0;}
}
