@import "./Colors";
@import "./Fonts";
@import "./Mixins";

// ---------- BODY: USER HOME ---------- //
.home-headline {
  font-family: $button-font;
}

.homepage-icon {
  img {
    max-width: 250px;
    padding: 1em;
  }
}

// Home: Login Button (Container)
.login-button-container {
  @include loginButton()
}