@import "./Colors";
@import "./Fonts";
@import "./Mixins";

// DASHBOARD: Tab - Organisation
.site-form {
  display: block;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  [data-site-form] {
    @include formInputAndSelect;
  }
}

// ---------- FORM STYLING: by formClass ---------- //
// readMode: Applied to formClass when Edit button is not clicked, { state } set to readMode by default
.readMode {
  @include readMode();
}

// editMode: Applied to formClass when Edit button is not clicked, { state } set to readMode by default (formClass changes to editMode when Edit button is clicked)
.editMode {
  @include editMode();
}

// Styling for Edit button
.editButton{
  @include crudButton();
}

// Styling for Cancel button
.cancelButton{
  @include crudButton();
  $cancelColor: red;
  // Button styling for button font text
  // color: $cancelColor;
  // border: 1px solid $cancelColor;
  &:focus {outline:0;}
}

.updateButton {
  @include crudButton();
}