.site-form {
  display: block;
  width: 100%;
  padding: 0 50px 50px 50px;
  box-sizing: border-box; }
  .site-form [data-site-form] {
    text-align: left;
    font-family: "Quicksand", sans-serif; }
    .site-form [data-site-form] label {
      font-size: 1em;
      font-weight: bold; }
    .site-form [data-site-form] input {
      font-size: 1em;
      width: 100%;
      font-family: "Quicksand", sans-serif; }
      .site-form [data-site-form] input::placeholder {
        font-size: 1em;
        font-family: "Quicksand", sans-serif; }
      .site-form [data-site-form] input:focus {
        outline: none; }
    .site-form [data-site-form] select {
      font-size: 1em;
      background: 100%;
      width: 100%;
      font-family: "Quicksand", sans-serif; }
      .site-form [data-site-form] select:focus {
        outline: none;
        border-color: none; }

.opening-hours {
  font-size: 1em; }
  .opening-hours .opening-day {
    background: yellow; }

.readMode {
  /* Disable default input border box when point events triggered */
  pointer-events: none; }
  .readMode label {
    display: block;
    color: #1B2B38;
    background: rgba(110, 201, 204, 0.5);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em; }
  .readMode input {
    /* Most modern browsers support this now. */
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; }
    .readMode input::placeholder {
      color: #1B2B38; }
  .readMode select {
    /*Removing the drop down arrow*/
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    /* For IE10 */
    padding-left: 10px;
    height: 35px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem; }
    .readMode select::-ms-expand {
      display: none; }
  .readMode button {
    visibility: hidden;
    margin: 0.5rem; }

.editMode label {
  color: #1B2B38;
  padding-top: 10px;
  display: block; }
.editMode input {
  font-size: 1em;
  border: none;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #6EC9CC;
  /* Most modern browsers support this now. */ }
  .editMode input::placeholder {
    color: black; }
  .editMode input:focus {
    outline: none; }
.editMode select {
  color: black;
  border: 1.5px solid #6EC9CC;
  padding-left: 10px;
  height: 35px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem; }
.editMode button {
  background: #5B98BB;
  color: #ffffff;
  border: 1px solid #5B98BB;
  border-radius: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7em;
  box-sizing: border-box;
  text-decoration: none;
  padding: 1em 4em;
  margin: 10px;
  min-width: 75px; }
  .editMode button:hover {
    background-color: #74A8C6; }

.editButton {
  background: #5B98BB;
  color: #ffffff;
  border: 1px solid #5B98BB;
  border-radius: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7em;
  box-sizing: border-box;
  text-decoration: none;
  padding: 1em 4em;
  margin: 10px;
  min-width: 75px; }
  .editButton:hover {
    background-color: #74A8C6; }

.cancelButton {
  background: #5B98BB;
  color: #ffffff;
  border: 1px solid #5B98BB;
  border-radius: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7em;
  box-sizing: border-box;
  text-decoration: none;
  padding: 1em 4em;
  margin: 10px;
  min-width: 75px; }
  .cancelButton:hover {
    background-color: #74A8C6; }
  .cancelButton:focus {
    outline: 0; }

.updateButton {
  background: #5B98BB;
  color: #ffffff;
  border: 1px solid #5B98BB;
  border-radius: 3px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7em;
  box-sizing: border-box;
  text-decoration: none;
  padding: 1em 4em;
  margin: 10px;
  min-width: 75px; }
  .updateButton:hover {
    background-color: #74A8C6; }

/*# sourceMappingURL=Site.css.map */
